.card {
    /* border: 1px solid blue; */
    height: 60vh;
    width: 30vw;
    margin-left: 10vw;
    margin-top: 5px;
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
}

.size {
    width: 515px;
    height: 300px;
}

.user-pp {
    text-align: left;
}

.icon {
    height: 7vh;
    margin-right: 5px;
    margin-top: -10px;
}

.imph {
    display: flex;
    align-items: center;
    /* border: 1px solid rgb(41, 171, 138); */
    margin-top: 10px;
}

.name {
    /* border: 1px solid blue; */
    bottom: 10px;
    width: 8vw;
}

.post_time {
    position: relative;
    top: -30px;
    margin-bottom: 20px;
    /* border: 1px solid red; */
    font-size: small;
}

.read_time {
    font-size: small;
    float: right;
    /* border: 1px solid blue; */
    margin-left: 12vw;
    width: 8vw;
    margin-top: -10px;
}

.name_time {
    /* border: 1px solid rgb(41, 171, 138); */
    margin-top: -15px;
    display: grid;
    height: 9vh;
}

.title {
    /* border: 1px solid green; */
}
