.card {
    height: 63vh;
    width: 30vw;
    margin-left: 10vw;
    margin-top: 5px;
    display: flex;
    border-radius: 5px;
    margin-bottom: 2vh;
    background-color:thistle;
}

.size {
    width: 515px;
    height: 250px;
    border-radius: 5px;
}

.user-pp {
    text-align: left;
}

.icon {
    height: 7vh;
    margin-right: 5px;
    margin-top: -10px;
}
.icon_1{
    height: 3vh;
    width: 1vw;
}
.icoc_1_place{
    text-align: right;
    margin-right: 1vw;
}
.imph {
    display: flex;
    align-items: center;
    /* border: 1px solid rgb(41, 171, 138); */
    margin-top: 10px;
}

.name {
    bottom: 10px;
    width: 8vw;
}

.post_time {
    position: relative;
    top: -30px;
    margin-bottom: 20px;
    font-size: small;
}

.read_time {
    font-size: small;
    float: right;
    margin-left: 11vw;
    width: 8vw;
    margin-top: -10px;
    gap: 10px;
}

.name_time {
    margin-top: -15px;
    display: grid;
    height: 9vh;
}

.title {
    /* border: 1px solid green; */
}
