.cafe{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 45vw;
    margin-left: 12vw;
}
.map{
    margin-bottom: 60px;
}
.text{
    height: 5vh;
    color: white;
}
.text1{
    height: 75vh;
    background-color: rgb(72, 61, 45);
    border-radius: 5px;
    color: white;
}